<div layout="column" class="md-inline-form">
  <h1>Login</h1>
  <md-content layout-padding>
      <div>
        <form role="form" (submit)="signup($event, username.value, first_name.value, last_name.value, emails.value, positions.value, phones.value, password.value, password_confirmation.value)" name="signUpForm">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" #username class="form-control" id="username" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" #first_name class="form-control" id="first_name" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" #last_name class="form-control" id="last_name" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="emails">emails</label>
            <input type="text" #emails class="form-control" id="emails" placeholder="emails">
          </div>
          <div class="form-group">
            <label for="positions">positions</label>
            <input type="text" #positions class="form-control" id="positions" placeholder="positions">
          </div>
          <div class="form-group">
            <label for="phones">phones</label>
            <input type="text" #phones class="form-control" id="phones" placeholder="phones">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" #password class="form-control" id="password" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="password_confirmation">Password confirmation</label>
            <input type="password_confirmation" #password_confirmation class="form-control" id="password_confirmation" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
            <a href="/signup">Click here to Signup</a>
        </form>
      </div>
    </md-content>
</div>
