<div layout="column" class="md-inline-form">
  <md-toolbar class="md-hero" layout="row" layout-align="center center" layout-align-gt-md="end end">
    <div class="md-toolbar-tools">
      <h1>Login</h1>
    </div>
    <i class="secret-project" md-icon>person</i>
  </md-toolbar>
  <md-content layout-padding>
    <div>
      
      <h1>{{me.username}}</h1>
      <br>
      <h1>{{me.is_auth}}</h1>
      <br>

      <form name="signInForm" (submit)="login()">
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Login</label>
            <input md-input [(ngModel)]="me.username" type="text">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Password</label>
            <input md-input [(ngModel)]="me.password" type="password">
          </md-input-container>
        </div>
        <button md-raised-button type="submit" class="md-raised md-primary md-hue-3" aria-label="SignIn">
          Login
        </button>
      </form>
      
    </div>
  </md-content>  
</div>
