<div layout="column" class="md-inline-form">

  <md-toolbar class="md-hero" layout="row" layout-align="center center" layout-align-gt-md="end end">
    <div class="md-toolbar-tools">
      <h1>Sign In</h1>
    </div>
    <i class="secret-project" md-icon>person</i>
  </md-toolbar>

  <md-content layout-padding>
    <div>
      <form name="signInForm">

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Login</label>
            <input md-input [(ngModel)]="user.username" type="text">
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Password</label>
            <input md-input [(ngModel)]="user.password" type="text">
          </md-input-container>
        </div>

        <button md-raised-button type="submit" class="md-raised md-primary md-hue-3" aria-label="SignIn">
          Sign Up
        </button>

      </form>
    </div>
  </md-content>
</div>
