<div class="user-detail view indent">
  <div class="container">
     <h3><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;Orders</h3>

    <br />


                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th sort-by="firstName" (sorted)="sort($event)">First Name</th>
                                    <th sort-by="lastName" (sorted)="sort($event)">Last Name</th>
                                    <th sort-by="address" (sorted)="sort($event)">Address</th>
                                    <th sort-by="city" (sorted)="sort($event)">City</th>
                                    <th sort-by="state.name" (sorted)="sort($event)">State</th>
                                    <!-- Or you can do this directly rather than using sort-by directive -->
                                    <th (click)="sort('orderTotal')">Order Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="#user of filteredUsers">
                                    <td><img src="images/{{ user.gender | lowercase }}.png"
                                             class="card-image" alt="Customer Image" /></td>
                                    <td><a [routerLink]="['UserDetail',{id:user.id}]">{{ user.firstName | capitalize }}</a></td>
                                    <td>{{ user.lastName | capitalize }}</td>
                                    <td>{{ user.address }}</td>
                                    <td>{{ user.city | trim }}</td>
                                    <td>{{ user.state.name }}</td>
                                    <td>{{ user.orderTotal | currency:'USD':true }}</td>
                                </tr>
                                <tr [hidden]="filteredUsers.length">
                                    <td>&nbsp;</td>
                                    <td colspan="6">No Records Found</td>
                                </tr>
                            </tbody>
                        </table>

    <br />

    <a [routerLink]="['UserList']" >View all Users</a>
  </div>
</div>
